<a href="https://colab.research.google.com/github/MaliniVibin1502/SQL-projects/blob/main/pythonsql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This project includes DB-API using python to do the following tasks

- Create a database
- Create a table
- Insert data into the table
- Query data from the table
- Retrieve the result set into a pandas dataframe
- Close the database connection

In [ ]:
!pip install sqlite3

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
conn=sqlite3.connect("INSTRUCTORS.db")

In [ ]:
cursor_obj=conn.cursor()

Creating a table in the databasse INSTRUCTOR

In [ ]:
table=""" CREATE TABLE IF NOT EXISTS INSTRUCTOR (ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));"""
cursor_obj.execute(table)
print("Table is ready")

Table is ready

In [ ]:
cursor_obj.execute('''insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')''')
cursor_obj.execute('''insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')''')

Quering data in the table

In [ ]:
statement = '''SELECT * FROM INSTRUCTOR;'''
cursor_obj.execute(statement)
output_all=cursor_obj.fetchall()
for row_all in output_all:
     print(row_all)

(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [ ]:
statement = '''SELECT FNAME FROM INSTRUCTOR'''
cursor_obj.execute(statement)
output_column = cursor_obj.fetchall()
for fetch in output_column:
  print(fetch)

('Rav',)
('Raul',)
('Hima',)

Update the data Rav's CITY to MOOSETOWN

In [ ]:
city_change='''UPDATE INSTRUCTOR SET CITY="MOOSETOWN" WHERE FNAME="Rav";'''
cursor_obj.execute(city_change)

Retrieving the table into a pandas dataframe

In [ ]:
print_city='''SELECT *FROM INSTRUCTOR;'''
cursor_obj.execute(print_city)
output_change = cursor_obj.fetchall()
for row_all in output_change:
   print(row_all)

(1, 'Rav', 'Ahuja', 'MOOSETOWN', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [ ]:
df = pd.read_sql_query("select * from instructor;", conn)
df

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [ ]:
df.shape

(3, 5)

In [ ]:
conn.close()